n8n-workflows/main-workflow.json
{
  "name": "CurriculAI — Full Automation Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-curriculum",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "📥 Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "webhookId": "curricul-ai-trigger"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst modules = body.modules || [1, 2, 3, 4, 5];\nconst slo_filename = body.slo_filename || 'SLO_SRO_Containers_Cloud_DevOps.docx';\n\nreturn [{\n  json: {\n    modules: modules,\n    modules_str: modules.join(','),\n    slo_filename: slo_filename,\n    started_at: new Date().toISOString(),\n    api_base: 'http://localhost:8000'\n  }\n}];"
      },
      "id": "config-node",
      "name": "⚙️ Extract Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.api_base }}/api/generate",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "modules",
              "value": "={{ $json.modules_str }}"
            }
          ]
        },
        "options": { "timeout": 10000 }
      },
      "id": "start-generation",
      "name": "🚀 Start Generation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [760, 400]
    },
    {
      "parameters": {
        "jsCode": "const job_id = $input.first().json.job_id;\nconst api_base = $('⚙️ Extract Config').first().json.api_base;\n\nif (!job_id) throw new Error('No job_id returned from generate endpoint');\n\nreturn [{\n  json: {\n    job_id: job_id,\n    api_base: api_base,\n    poll_url: `${api_base}/api/status/${job_id}`,\n    check_count: 0\n  }\n}];"
      },
      "id": "store-job",
      "name": "📝 Store Job ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1020, 400]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "wait-node",
      "name": "⏳ Wait 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1280, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('📝 Store Job ID').first().json.poll_url }}",
        "options": { "timeout": 15000 }
      },
      "id": "poll-status",
      "name": "🔍 Poll Job Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 400]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst body = typeof raw === 'string' ? raw : JSON.stringify(raw);\nconst lines = body.split('\\n');\nlet status = 'running';\nlet lastLog = '';\n\nfor (const line of lines) {\n  if (line.startsWith('data: ')) {\n    try {\n      const event = JSON.parse(line.slice(6));\n      if (event.type === 'status') status = event.status;\n      if (event.type === 'log') lastLog = event.line;\n    } catch(_) {}\n  }\n}\n\nconst job_id = $('📝 Store Job ID').first().json.job_id;\nconst api_base = $('⚙️ Extract Config').first().json.api_base;\n\nreturn [{\n  json: {\n    status,\n    last_log: lastLog,\n    job_id,\n    api_base,\n    poll_url: `${api_base}/api/status/${job_id}`\n  }\n}];"
      },
      "id": "parse-status",
      "name": "📊 Parse Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "cond-done",
              "leftValue": "={{ $json.status }}",
              "rightValue": "done",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-done",
      "name": "✅ Done?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2060, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "cond-error",
              "leftValue": "={{ $json.status }}",
              "rightValue": "error",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-error",
      "name": "❌ Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2060, 560]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('⚙️ Extract Config').first().json.api_base }}/api/modules",
        "options": {}
      },
      "id": "get-modules",
      "name": "📂 Get Module Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2320, 200]
    },
    {
      "parameters": {
        "jsCode": "const modules = $input.first().json;\nconst api_base = $('⚙️ Extract Config').first().json.api_base;\nconst ready = modules.filter(m => m.ppt_count > 0);\n\nreturn ready.map(m => ({\n  json: {\n    module_num: m.module,\n    ppt_count: m.ppt_count,\n    has_pdf: m.has_pdf,\n    api_base: api_base,\n    download_url: `${api_base}/api/download/${m.module}`\n  }\n}));"
      },
      "id": "split-modules",
      "name": "🔀 Split Per Module",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2580, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.download_url }}",
        "options": {
          "response": {
            "response": { "responseFormat": "file" }
          }
        }
      },
      "id": "download-module",
      "name": "⬇️ Download Module ZIP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2840, 200]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "merge-results",
      "name": "🗂️ Merge All ZIPs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [3100, 200]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst api_base = $('⚙️ Extract Config').first().json.api_base;\nconst started_at = $('⚙️ Extract Config').first().json.started_at;\nconst finished_at = new Date().toISOString();\nconst total_ppts = items.reduce((sum, i) => sum + (i.json.ppt_count || 0), 0);\nconst total_pdfs = items.filter(i => i.json.has_pdf).length;\n\nreturn [{\n  json: {\n    status: 'complete',\n    summary: {\n      modules_processed: items.length,\n      total_ppts_generated: total_ppts,\n      total_pdfs_generated: total_pdfs,\n      download_all_url: `${api_base}/api/download`,\n      started_at,\n      finished_at\n    },\n    message: `CurriculAI complete! ${total_ppts} PPTs and ${total_pdfs} PDFs generated across ${items.length} modules.`\n  }\n}];"
      },
      "id": "summary-node",
      "name": "📋 Pipeline Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3360, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": { "responseCode": 200 }
      },
      "id": "respond-success",
      "name": "✅ Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [3620, 200]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    status: 'error',\n    message: 'Pipeline failed. Check FastAPI logs.',\n    job_id: $json.job_id,\n    last_log: $json.last_log\n  }\n}];"
      },
      "id": "error-node",
      "name": "🚨 Handle Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2320, 640]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": { "responseCode": 500 }
      },
      "id": "respond-error",
      "name": "❌ Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2580, 640]
    }
  ],
  "connections": {
    "📥 Webhook Trigger": {
      "main": [[{ "node": "⚙️ Extract Config", "type": "main", "index": 0 }]]
    },
    "⚙️ Extract Config": {
      "main": [[{ "node": "🚀 Start Generation", "type": "main", "index": 0 }]]
    },
    "🚀 Start Generation": {
      "main": [[{ "node": "📝 Store Job ID", "type": "main", "index": 0 }]]
    },
    "📝 Store Job ID": {
      "main": [[{ "node": "⏳ Wait 30s", "type": "main", "index": 0 }]]
    },
    "⏳ Wait 30s": {
      "main": [[{ "node": "🔍 Poll Job Status", "type": "main", "index": 0 }]]
    },
    "🔍 Poll Job Status": {
      "main": [[{ "node": "📊 Parse Status", "type": "main", "index": 0 }]]
    },
    "📊 Parse Status": {
      "main": [
        [{ "node": "✅ Done?", "type": "main", "index": 0 }],
        [{ "node": "❌ Error?", "type": "main", "index": 0 }]
      ]
    },
    "✅ Done?": {
      "main": [
        [{ "node": "📂 Get Module Info", "type": "main", "index": 0 }],
        [{ "node": "⏳ Wait 30s", "type": "main", "index": 0 }]
      ]
    },
    "❌ Error?": {
      "main": [
        [{ "node": "🚨 Handle Error", "type": "main", "index": 0 }],
        [{ "node": "⏳ Wait 30s", "type": "main", "index": 0 }]
      ]
    },
    "📂 Get Module Info": {
      "main": [[{ "node": "🔀 Split Per Module", "type": "main", "index": 0 }]]
    },
    "🔀 Split Per Module": {
      "main": [[{ "node": "⬇️ Download Module ZIP", "type": "main", "index": 0 }]]
    },
    "⬇️ Download Module ZIP": {
      "main": [[{ "node": "🗂️ Merge All ZIPs", "type": "main", "index": 0 }]]
    },
    "🗂️ Merge All ZIPs": {
      "main": [[{ "node": "📋 Pipeline Summary", "type": "main", "index": 0 }]]
    },
    "📋 Pipeline Summary": {
      "main": [[{ "node": "✅ Respond Success", "type": "main", "index": 0 }]]
    },
    "🚨 Handle Error": {
      "main": [[{ "node": "❌ Respond Error", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": ["curricul-ai", "automation", "education"]
}
