n8n-workflows/main-workflow.json
{
  "name": "E-Curricula Full Automation Pipeline",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-1",
      "name": "Start Pipeline",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 560]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════\n// PIPELINE CONFIGURATION\n// ═══════════════════════════════════════════════\nconst config = {\n  course_code: '21CSE597T',\n  course_name: 'CONTAINERS AND CLOUD DEVOPS',\n  modules_to_process: [1],\n  project_path: '/data/e-curricula',\n  skip_upload: true,\n  gemini_model: 'gemini-flash-latest',\n  settings: {\n    temperature: 0.35,\n    max_output_tokens: 8192,\n    rate_limit_delay: 2,\n    ppt_format: '16:9 Widescreen',\n    pdf_format: 'A4',\n    slides_per_slo: '8-12'\n  }\n};\n\nreturn [{ json: config }];"
      },
      "id": "config-1",
      "name": "⚙️ Configuration",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 560]
    },
    {
      "parameters": {
        "command": "cd /data/e-curricula && python3 -c \"\nimport json, sys\nsys.path.insert(0, '.')\nfrom scripts.ingest.parse_slo_document import parse_slo_document, validate_parsed_data\n\nslo = parse_slo_document('input/SLO_SRO_Containers_Cloud_DevOps.docx')\nerrors = validate_parsed_data(slo)\n\nresult = {'status': 'success', 'modules': {}}\nif errors:\n    result = {'status': 'error', 'errors': errors}\nelse:\n    for key, mod in slo.items():\n        result['modules'][key] = {\n            'title': mod['title'],\n            'sessions': len(mod['sessions']),\n            'total_slos': len(mod['sessions']) * 2\n        }\n\nprint(json.dumps(result))\n\""
      },
      "id": "parse-slo",
      "name": "📄 Parse SLO/SRO Document",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [720, 400]
    },
    {
      "parameters": {
        "command": "cd /data/e-curricula && python3 -c \"\nimport json, sys\nsys.path.insert(0, '.')\nfrom scripts.ingest.extract_text import extract_all_sources, extract_from_pdf\n\nsources = extract_all_sources('input/source_docs')\n\ntry:\n    syllabus = extract_from_pdf('input/Containers_and_devops_syllabus.pdf')\n    syl_len = len(syllabus)\nexcept:\n    syl_len = 0\n\nresult = {'status': 'success', 'units': {}}\nfor unit, texts in sources.items():\n    total_chars = sum(len(t['text']) for t in texts)\n    result['units'][unit] = {'sources': len(texts), 'chars': total_chars}\nresult['syllabus_chars'] = syl_len\n\nprint(json.dumps(result))\n\""
      },
      "id": "extract-docs",
      "name": "📚 Extract Source Documents",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [720, 720]
    },
    {
      "parameters": {
        "jsCode": "const sloResult = JSON.parse($('📄 Parse SLO/SRO Document').first().json.stdout);\nconst sourceResult = JSON.parse($('📚 Extract Source Documents').first().json.stdout);\nconst config = $('⚙️ Configuration').first().json;\n\nif (sloResult.status === 'error') {\n  throw new Error('SLO parsing failed: ' + JSON.stringify(sloResult.errors));\n}\n\n// Create one item per module for the loop\nconst items = [];\nfor (const moduleNum of config.modules_to_process) {\n  const moduleKey = `module_${moduleNum}`;\n  const moduleInfo = sloResult.modules[moduleKey];\n  \n  if (!moduleInfo) continue;\n  \n  items.push({\n    json: {\n      module_num: moduleNum,\n      module_key: moduleKey,\n      module_title: moduleInfo.title,\n      total_sessions: moduleInfo.sessions,\n      total_slos: moduleInfo.total_slos,\n      source_info: sourceResult.units[`unit_${moduleNum}`] || { sources: 0, chars: 0 },\n      project_path: config.project_path\n    }\n  });\n}\n\nreturn items;"
      },
      "id": "merge-validate",
      "name": "✅ Validate & Split Modules",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 560]
    },
    {
      "parameters": {
        "command": "={{ 'cd /data/e-curricula && python3 -c \"\\nimport json, sys, os\\nos.environ[\\\"GEMINI_API_KEY\\\"] = os.environ.get(\\\"GEMINI_API_KEY\\\", \\\"\\\")\\nsys.path.insert(0, \\\".\\\")\\nfrom scripts.ingest.parse_slo_document import parse_slo_document\\nfrom scripts.ingest.extract_text import extract_all_sources, extract_from_pdf\\nfrom scripts.generate.gemini_content_gen import init_gemini, generate_module_content\\n\\nslo = parse_slo_document(\\\"input/SLO_SRO_Containers_Cloud_DevOps.docx\\\")\\nsources = extract_all_sources(\\\"input/source_docs\\\")\\ntry:\\n    syllabus = extract_from_pdf(\\\"input/Containers_and_devops_syllabus.pdf\\\")\\nexcept:\\n    syllabus = \\\"\\\"\\n\\nmodule_num = ' + $json.module_num + '\\nmodule_key = \\\"module_' + $json.module_num + '\\\"\\nmodel = init_gemini()\\nunit_sources = sources.get(\\\"unit_' + $json.module_num + '\\\", [])\\n\\ncontent = generate_module_content(\\n    model=model,\\n    module_num=module_num,\\n    module_data=slo[module_key],\\n    source_texts=unit_sources,\\n    syllabus_context=syllabus\\n)\\n\\nimport pathlib\\nout_dir = pathlib.Path(\\\"output/21CSE597T/unit_\\\" + str(module_num))\\nout_dir.mkdir(parents=True, exist_ok=True)\\nwith open(out_dir / \\\"content.json\\\", \\\"w\\\") as f:\\n    json.dump(content, f, indent=2)\\n\\nprint(json.dumps({\\\"status\\\": \\\"success\\\", \\\"module\\\": module_num, \\\"slos_generated\\\": len(content[\\\"slo_contents\\\"]), \\\"content_path\\\": str(out_dir / \\\"content.json\\\")}))\\n\"' }}",
        "timeout": 600
      },
      "id": "gemini-gen",
      "name": "🤖 Generate Content (Gemini)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1280, 560]
    },
    {
      "parameters": {
        "jsCode": "const genResult = JSON.parse($input.first().json.stdout);\nconst config = $('⚙️ Configuration').first().json;\n\nif (genResult.status !== 'success') {\n  throw new Error('Content generation failed for module ' + genResult.module);\n}\n\nreturn [{\n  json: {\n    ...genResult,\n    project_path: config.project_path\n  }\n}];"
      },
      "id": "parse-gen-result",
      "name": "📊 Parse Generation Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 560]
    },
    {
      "parameters": {
        "command": "={{ 'cd /data/e-curricula && python3 -c \"\\nimport json, sys\\nsys.path.insert(0, \\\".\\\")\\nfrom scripts.build.create_ppt import create_module_ppts\\n\\nwith open(\\\"' + $json.content_path + '\\\") as f:\\n    content = json.load(f)\\n\\nout_dir = \\\"output/21CSE597T\\\"\\nppt_files = create_module_ppts(content, out_dir)\\n\\nprint(json.dumps({\\\"status\\\": \\\"success\\\", \\\"module\\\": ' + $json.module + ', \\\"ppts_created\\\": len(ppt_files), \\\"files\\\": ppt_files}))\\n\"' }}",
        "timeout": 120
      },
      "id": "build-ppt",
      "name": "📊 Build PPTX Files (18 per module)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1800, 400]
    },
    {
      "parameters": {
        "command": "={{ 'cd /data/e-curricula && python3 -c \"\\nimport json, sys\\nsys.path.insert(0, \\\".\\\")\\nfrom scripts.build.create_pdf import create_module_pdf\\n\\nwith open(\\\"' + $json.content_path + '\\\") as f:\\n    content = json.load(f)\\n\\nmodule_num = ' + $json.module + '\\npdf_path = \\\"output/21CSE597T/unit_\\\" + str(module_num) + \\\"/unit_\\\" + str(module_num) + \\\"_learning_material.pdf\\\"\\ncreate_module_pdf(content[\\\"pdf_content\\\"], module_num, pdf_path)\\n\\nprint(json.dumps({\\\"status\\\": \\\"success\\\", \\\"module\\\": module_num, \\\"pdf_path\\\": pdf_path}))\\n\"' }}",
        "timeout": 120
      },
      "id": "build-pdf",
      "name": "📝 Build Learning Material PDF",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1800, 720]
    },
    {
      "parameters": {
        "jsCode": "const pptResult = JSON.parse($('📊 Build PPTX Files (18 per module)').first().json.stdout);\nconst pdfResult = JSON.parse($('📝 Build Learning Material PDF').first().json.stdout);\n\nreturn [{\n  json: {\n    module: pptResult.module,\n    ppts_created: pptResult.ppts_created,\n    pdf_created: pdfResult.status === 'success',\n    pdf_path: pdfResult.pdf_path,\n    status: 'files_ready'\n  }\n}];"
      },
      "id": "merge-files",
      "name": "📦 Merge Build Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2080, 560]
    },
    {
      "parameters": {
        "jsCode": "const config = $('⚙️ Configuration').first().json;\nconst buildResult = $input.first().json;\n\nif (config.skip_upload) {\n  return [{\n    json: {\n      module: buildResult.module,\n      status: 'upload_skipped',\n      message: 'Upload skipped — set skip_upload=false and add portal credentials to enable',\n      ppts_created: buildResult.ppts_created,\n      pdf_created: buildResult.pdf_created\n    }\n  }];\n}\n\n// If upload is enabled, this would call the portal upload script\nreturn [{\n  json: {\n    module: buildResult.module,\n    status: 'ready_for_upload',\n    ppts_created: buildResult.ppts_created,\n    pdf_created: buildResult.pdf_created\n  }\n}];"
      },
      "id": "upload-check",
      "name": "🌐 Portal Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2340, 560]
    },
    {
      "parameters": {
        "jsCode": "const results = $input.all().map(item => item.json);\n\nlet totalPpts = 0;\nlet totalPdfs = 0;\nconst moduleResults = [];\n\nfor (const r of results) {\n  totalPpts += r.ppts_created || 0;\n  totalPdfs += r.pdf_created ? 1 : 0;\n  moduleResults.push({\n    module: r.module,\n    ppts: r.ppts_created,\n    pdf: r.pdf_created,\n    upload: r.status\n  });\n}\n\nreturn [{\n  json: {\n    pipeline_status: 'COMPLETE',\n    course: '21CSE597T — Containers and Cloud DevOps',\n    total_pptx_files: totalPpts,\n    total_pdf_files: totalPdfs,\n    total_files: totalPpts + totalPdfs,\n    modules_processed: moduleResults,\n    output_directory: '/data/e-curricula/output/21CSE597T/',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "summary",
      "name": "📋 Pipeline Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2600, 560]
    }
  ],
  "connections": {
    "Start Pipeline": {
      "main": [[{ "node": "⚙️ Configuration", "type": "main", "index": 0 }]]
    },
    "⚙️ Configuration": {
      "main": [
        [
          { "node": "📄 Parse SLO/SRO Document", "type": "main", "index": 0 },
          { "node": "📚 Extract Source Documents", "type": "main", "index": 0 }
        ]
      ]
    },
    "📄 Parse SLO/SRO Document": {
      "main": [[{ "node": "✅ Validate & Split Modules", "type": "main", "index": 0 }]]
    },
    "📚 Extract Source Documents": {
      "main": [[{ "node": "✅ Validate & Split Modules", "type": "main", "index": 0 }]]
    },
    "✅ Validate & Split Modules": {
      "main": [[{ "node": "🤖 Generate Content (Gemini)", "type": "main", "index": 0 }]]
    },
    "🤖 Generate Content (Gemini)": {
      "main": [[{ "node": "📊 Parse Generation Result", "type": "main", "index": 0 }]]
    },
    "📊 Parse Generation Result": {
      "main": [
        [
          { "node": "📊 Build PPTX Files (18 per module)", "type": "main", "index": 0 },
          { "node": "📝 Build Learning Material PDF", "type": "main", "index": 0 }
        ]
      ]
    },
    "📊 Build PPTX Files (18 per module)": {
      "main": [[{ "node": "📦 Merge Build Results", "type": "main", "index": 0 }]]
    },
    "📝 Build Learning Material PDF": {
      "main": [[{ "node": "📦 Merge Build Results", "type": "main", "index": 0 }]]
    },
    "📦 Merge Build Results": {
      "main": [[{ "node": "🌐 Portal Upload", "type": "main", "index": 0 }]]
    },
    "🌐 Portal Upload": {
      "main": [[{ "node": "📋 Pipeline Summary", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
